#owl-main .owl-controls .owl-page.active span, #owl-main .owl-controls.clickable .owl-page:hover span, .carousel-wrapper.with_pagination.round_inner .owl-theme .owl-controls .owl-page.active span {
	background:#7369b9;
	border-color:#7369b9;
}
.section .text strong, a {color:#7369b9;}
.section .title {border-color:#7369b9;}
#header .menu-item.current a, #header .menu-item a:hover {border-bottom-color:#7369b9;}
.options-head {background: #7369b9; }
.carousel-wrapper.with_buttons .owl-controls .owl-buttons div,.carousel-wrapper.with_buttons .owl-controls .owl-buttons div.owl-next {background-color: #7369b9; }
.carousel-wrapper.full .generic-carousel .owl-item .ulitem li .icon {background: #7369b9; }
.carousel-wrapper.with_pagination .owl-controls .owl-page.active span, .carousel-wrapper.with_pagination .owl-controls.clickable .owl-page:hover span {background: #7369b9; }
.team-wrapper .team-member .hover .name {color: #7369b9;}
.team-wrapper .team-member .hover .hover-border {border-color:#7369b9;}
.folio-filter li a.selected, .folio-filter li a:hover {
	background:#7369b9;
	border-color:#7369b9;
}
.portfolio-dark-overlay {background:#7369b9;}
.section .button:hover, .section .button.playstop, .contact-form .submit, .section .button.inverse {border-color:#7369b9;}
#footer .thanks, #testimonials, #our-story, .pag-more:hover {background-color: #7369b9; }
.slide-sep, .section .ball {background: #7369b9;}